@charset "UTF-8";


#book {
	    height:675px !important;
	border: 6px solid #d1daee85;
    border-radius: 1%;
}
#book .turn-page{
  background-color:white;
}
#book > div:nth-child(3) > div {
	width:100% !important;
	height:100% !important;
}
#book .cover{
  background:#333;
}

#book .cover h1{
  color:white;
  text-align:center;
  font-size:50px;
  line-height:500px;
  margin:0px;
}

#book .loader{
  background-image:url(loader.gif);
  width:24px;
  height:24px;
  display:block;
  position:absolute;
  top:238px;
  left:188px;
}

#book .data{
  text-align:center;
  font-size:20px;
  color:#999;
  line-height:500px;
  height:100%;
  position: relative;
}
#book .text-area {
	position: absolute;
    height: 100%;
    width: 100%;
}

#book .data > p{
	
	position: absolute;
    top: -19%;
    left: 9%;
}
#book .text-area > div {
    top: -29%;
    position: relative;
    left: -28%;
}

#book .text-area > a {
	position: absolute;
    top: -28.3%;
    right:50px;
    height: 24px;
    font-size: 14px;
    font-weight: bold;
    color: #9b9696;
}

#book .data > .bar-div {
	position: absolute;
    width: 89%;
    height: 3px;
    background-color: #8b7ba929;
    top: 11%;
    left: 5%;
    border-radius: 15%;
}
#controls{
  width:800px;
  text-align:center;
  margin:20px 0px;
  font:30px arial;
}

#controls input, #controls label{
  font:30px arial;
}

#book .odd{
  background-image:-webkit-linear-gradient(left, #FFF 95%, #ddd 100%);
  background-image:-moz-linear-gradient(left, #FFF 95%, #ddd 100%);
  background-image:-o-linear-gradient(left, #FFF 95%, #ddd 100%);
  background-image:-ms-linear-gradient(left, #FFF 95%, #ddd 100%);
}
.turn-page-wrapper > div {
	width:100%;
	height:100%;
}
#book .even{
  background-image:-webkit-linear-gradient(right, #FFF 95%, #ddd 100%);
  background-image:-moz-linear-gradient(right, #FFF 95%, #ddd 100%);
  background-image:-o-linear-gradient(right, #FFF 95%, #ddd 100%);
  background-image:-ms-linear-gradient(right, #FFF 95%, #ddd 100%);
}

.page.even.turn-page {
	padding-top:84px;
}
.controls {
	display: flex;
    justify-content: center;
    margin-top: 10px;
}

.controls > button:nth-child(2) {
	margin-left:10px;
}
.reply-div {
	margin-bottom:23px;
	padding-bottom: 11px;
    width: 80% !important;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.reply-head {
    display: flex;
    align-items: center;
}

.reply-head > .profile-img {
    width: 25px;
    height: 25px;
}

.reply-head > p {
    margin-left: 3px;
    font-size: 13px;
}

.reply-content {
    overflow: auto;
    overflow-x: hidden;
    height: 90%;
}

.reply-content > div {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.reply-bottom > p {
    padding-top: 10px;
    font-size: 17px;
}
/* js 관련 css */
.replyCorrection{
    width: 800px;
    padding: 0 0.75rem;
}