.project-img-box {
    width: 35rem;
    height: 98%;
    background-color: #ddd;
    border-radius: 10px;
}


.project-contain {
    width: 100%;
    height: 95%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.project-explain-box {
    width: 100%;
    height: 100%;
}

.head-explain {
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgba(244, 243, 243, 0.532);
    height: 100px;
    box-shadow: 3px 2px 3px 1px rgba(125, 139, 167, 0.195);

}

.project-explain-box .min-p {
    margin-top: 5px;
    display: flex;
}

.explain-text-box {
    border: 1px solid rgba(244, 243, 243, 0.532);
    margin-top: 30px;
    width: 100%;
    box-shadow: 3px 2px 3px 1px rgba(125, 139, 167, 0.195);
    height:575px;
    border-radius: 10px;
    overflow: auto;
    overflow-x: hidden;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(87, 87, 87, 0.855) !important;
}

/* 메인 이미지 */
.main-img{
    position: relative;
    height: 500px;
}

.main-img a{
    width: 100%; height: 100%;
    display: block;
}

.main-img .fa-solid{
    position: absolute;
    top: 45%; left: 2%;
    font-size: 50px;
}

.main-img .rightBtn{
    left: 90%;
}

.main-img a img{
    width: 100%; height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* 슬라이드 이미지 */
.slide-img{
    position: relative;
}

.slide-box-img{
    height: 200px;
    display: flex;
    overflow: auto;
    /* margin-left: 170px; */
}

.slide-box-img::-webkit-scrollbar{
    background-color: #c5d0d1aa;
    height: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.slide-box-img::-webkit-scrollbar-thumb{
    background-color: #000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.slide-img .slide-box-img a{
    width: 177px; 
    outline: none;
    border: 2px solid #000;
    border-right: none;
}

.img-container .slide-img a:last-child{
    border-right: 2px solid #000;
}

.slide-img>.slide-box-img>a>img{
    width: 100%; height: 100%;
}

.filter{
    filter: brightness(70%);
}
/* 
.down-filter{
    filter: brightness(70%);
} */